body{

}
div{
  border:1px black solid;
}
header{
  display: flex;
  position:fixed;
  width:100%;
  border:1px solid black;
  z-index: 1;

}
a {
  color: black;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

.logo-text{
  color: MediumAquamarine;
  font-family:Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 40px;
  display: inline-block;
  padding: 20px 10px;
  width: 20%;
}
.logo{
  display: flex;
  align-items: center;
  padding:5px 10px;
  margin-right: 10px;
}
img {
  width: 70px;
  height: 60px;
}
nav{
  display: flex;
  align-items: center;
  position: absolute;
  right:0;
  clear:left;
}
nav span{
  position: inline-block;
  padding: 20px 10px;

}
a{
  font-weight: bold;
  color:black;
}

.maincontainer{
  display:flex;
}
/*first column*/
.first{
  display: flex;
  width: 630px;
}
/*second column*/

.second {
  display:flex;
  width: 300px;
}
/*third column*/

.third {
  display:flex;
  width: 240px;
}
