body{

}
div{
  border:1px black solid;
}
header{
  display: flex;
  position:fixed;
  width:100%;
  background-color: white;
  border:1px solid black;
  z-index: 1;
}
a {
  color: black;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

.logo-text{
  color: MediumAquamarine;
  font-family:Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 40px;
  display: flex;
  padding: 20px 10px;
  width: 20%;
}
.logo{
  display: flex;
  align-items: center;
  padding:5px 10px;
  margin-right: 10px;
  width: 70px;
  height: 60px;
}

nav{
  display: flex;
  align-items: center;
  position: absolute;
  right:0;
  clear:left;
}
nav span{
  position: inline-block;
  padding: 20px 10px;

}
a{
  font-weight: bold;
  color:black;
}

.maincontainer{
  display:flex;
  margin-top: 80px;
}

.imgtext{
  display: flex;
  flex-direction:column;
 font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
}
.funny{
  display: flex;
  flex-direction:row;
  background-image: url("img-story-main.png");
  height: 300px;

}
.cat{
  display: flex;
  flex-direction:column;
  background-image: url("img-story-1.png");
  height:300px;
}
.earth{
  display: flex;
  flex-direction:row;
  background-image: url("img-story-2.png");
  height:300px;
}
.research{
  display: flex;
  flex-direction:row;
  background-image: url("img-story-3.png");
  height:300px;
}
.story{
  display: flex;
  flex-direction:column;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/*first column*/
.first{
  display: flex;
  flex-direction:column;
  width: 630px;
}
/*self*/
.main{
 display: flex;
 width: 630px;
}
/*change 1st column story to row*/
.stories{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
/*second column*/

.second {
  display:flex;
  flex-direction:column;
  width: 300px;
}
/*third column*/

.third {
  display:flex;
  flex-direction:column;
  width: 240px;
}
