header{
  display: flex;
  width:100%;
  border:1px solid black;

}
.logo{
  display: flex;
}
nav{
  display: flex;
  justify-content:flex-end;



}
li{
  display: flex-inline;
  text-decoration: none;
  display: inline-block;
}
